@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --background: 336 67% 95%;
    --foreground: 336 12% 20%;
    --card: 336 67% 95%;
    --card-foreground: 336 12% 20%;
    --popover: 336 67% 95%;
    --popover-foreground: 336 12% 20%;
    --primary: 336 71% 48%;
    --primary-foreground: 330 100% 98%;
    --secondary: 336 60% 93%;
    --secondary-foreground: 336 71% 48%;
    --muted: 336 60% 93%;
    --muted-foreground: 336 10% 45%;
    --accent: 288 65% 40%;
    --accent-foreground: 288 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 336 50% 92%;
    --input: 336 50% 92%;
    --ring: 288 65% 40%;
    --chart-1: 336 71% 48%;
    --chart-2: 288 65% 40%;
    --chart-3: 336 60% 93%;
    --chart-4: 336 50% 92%;
    --chart-5: 336 10% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 288 28% 10%;
    --foreground: 336 67% 95%;
    --card: 288 28% 10%;
    --card-foreground: 336 67% 95%;
    --popover: 288 28% 10%;
    --popover-foreground: 336 67% 95%;
    --primary: 336 71% 48%;
    --primary-foreground: 330 100% 98%;
    --secondary: 288 20% 15%;
    --secondary-foreground: 336 71% 48%;
    --muted: 288 20% 15%;
    --muted-foreground: 336 10% 65%;
    --accent: 288 65% 50%;
    --accent-foreground: 288 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 288 20% 20%;
    --input: 288 20% 20%;
    --ring: 288 65% 50%;
    --chart-1: 336 71% 48%;
    --chart-2: 288 65% 50%;
    --chart-3: 288 20% 15%;
    --chart-4: 288 20% 20%;
    --chart-5: 336 10% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
